<html>
    <head>
        <title>
            Login
        </title>
        <link rel="stylesheet" href="../style/css/login_style.css">
    </head>
    <body>
        <table class="center" style="background-color: #E7E8EC; height: fit-content; width: 15%;">
            <tr>
                <td class="circle center">
                    Foto
                </td>
            </tr>
            <tr>
                <td class="login_td" style="padding-top: 15%;">
                    <input name="name" style="border-radius: 5px; text-align: center; width: 80%;" placeholder="Digite su nombre">
                </td>
            </tr>
            <tr>
                <td class="login_td" style="padding-bottom: 5%; padding-top: 3%;">
                    <input name="password" type="password" style="border-radius: 5px; text-align: center; width: 80%;" placeholder="Digite su contrase&ntilde;a">
                </td>
            </tr>
            <tr>
                <td class="login_td" style="padding-top: 5%; padding-bottom: 5%;">
                    <button name="ingresar" type="submit" style="border-radius: 5px; background-color: black; color: white; width: 50%">Ingresar</button>
                </td>
            </tr>
            <tr>
                <td class="login_td" style="padding-top: 1%; padding-bottom: 5%;">
                    <a href="./login.html">Recuperar Contraseña</a>
                </td>
            </tr>
        </table>       
    </body>
</html>